<!DOCTYPE html>
<html lang="en" ng-app="MumbleInfo">
    <head>
        <meta charset="UTF-8">
        <title>Mumble on voip.ryft.uk</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="css/jsTree.min.css">
        <link rel="stylesheet" href="css/infoPage.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        
        <script src="js/jsTree.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/moment.min.js"></script>
        <script src="js/sanitize.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/infoPage.js"></script>
        <script src="js/jsTree.directive.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Mumble Information</h1>

            <h2>Server Details</h2>
            <div ng-controller="detailsController">
                <p class="bg-danger banner" ng-if="!available">
                    Server unavailable! Please check the API configuration.
                </p>

                <table class="table">
                    <tbody>
                        <tr ng-repeat="d in details">
                            <th>{{ d.title }}</th>
                            <td><span ng-if="d.value">{{ d.value }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2>Channel Viewer</h2>
            <div class="row" ng-controller="treeController">
                <div class="col-md-7">
                    <js-tree id="treeView" tree-ajax="/api/tree.php" tree-events="ready:onTreeReady;" tree-plugins="dnd"></js-tree>
                </div>
                <div id="treeInfo" class="col-md-5">
                    <p ng-bind="summary"></p>
                    <dl class="dl-horizontal">
                        <dt ng-repeat-start="i in info" ng-bind="i.title"></dt>
                        <!-- strings are sanitised by the mumble server -->
                        <dd ng-repeat-end ng-bind-html="i.value"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </body>
</html>

